**/build/*
*.jpg
.vscode/tasks.json
Backend/__pycache__/**
Design.drawio
fyp.code-workspace
.$Design.drawio.bkp
Backend/instance/app.db-shm
Backend/instance/app.db-wal
Backend/instance/app.db
Backend/backend.log
Backend/Storage/*
Backend/Faces/*